<section data-ng-controller="TicketsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{ticket.description}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == ticket.reporter._id">
		<a class="btn btn-primary" href="/#!/tickets/{{ticket._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{ticket.created | date:'mediumDate'}} by {{ticket.reporter.displayName}}</em>
	</small>
	<p>
		{{ticket.detail}}
	</p>
</section>