<section data-ng-controller="ImapsController" data-ng-init="find()">
    <div class="row">
        <div>
            <p></p>
            <google-map class="col-md-8"
                        center="map.center"
                        zoom="map.zoom"
                        options="map.options"
                        events="map.events"
                        dragging="map.dragging"
                        draggable="false"
                        control="map.control"
                    >
                <marker coords="myMarker.coords" options="myMarker.options"></marker>

                <markers models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'"
                            labelContent="'title'" labelAnchor="22 0" labelClass="marker-labels">
                    <windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                        <p>Mexi!</p>
                        <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}</p>
                    </windows>
                </markers>
    
                <markers models="map.clickedMarker" coords="'self'" click="clackMarker"></markers>
           </google-map>
       </div>
       <div class="col-md-4">
            <table class="table table-striped table-bordered table-condensed table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="imap in imaps">
                <td><a data-ng-href="#!/imaps/{{imap._id}}">{{imap.name}}</a></td>
                <td>{{imap.latitude}}</td>
                <td>{{imap.longitude}}</td>
              </tr>
              </tbody>
            </table>
            <div class="alert alert-warning text-center" data-ng-hide="!imaps || imaps.length">
                No Imaps yet, why don't you <a href="/#!/imaps/create">create one</a>?
            </div>
       </div>
    </div>
</section>