<section data-ng-controller="ImapsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{imap.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == imap.user._id">
		<a class="btn btn-primary" href="/#!/imaps/{{imap._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">[{{ imap.gps.coordinates[1] }}, {{ imap.gps.coordinates[0] }}] posted on {{imap.created | date:'mediumDate'}} by {{imap.user.displayName}}</em>
	</small>
</section>